.ck.ck-editor * {
    list-style-type: revert;
    text-decoration: revert;
}

.ck.ck-editor ul, .ck.ck-editor ol, .ck.ck-editor li {
    margin: revert;
    padding: revert;
}

.ckeditor {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    border-radius: 5px;
    background-color: var(--white);
}

.ckeditor input[type="submit"] {
    width: 100%;
    margin-top: 20px;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    box-shadow: 0 2px 2px #888;
    background: var(--primary);
    color: var(--white);
}

.input-data {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 30px;
    row-gap: 30px;
    padding: 30px 0;
}

.input-data .wrapper {
    height: 40px;
    width: 100%;
    position: relative;
}

.input-data .wrapper input {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 17px;
    border-bottom: 2px solid silver;
}

.input-data .wrapper input:focus ~ label,
.input-data .wrapper input:valid ~ label {
    transform: translateY(-20px);
    font-size: 15px;
    color: var(--primary);
}

.input-data .wrapper label {
    position: absolute;
    bottom: 10px;
    left: 0;
    color: gray;
    pointer-events: none;
    transition: all 300ms ease;
}

.input-data .wrapper .underline {
    position: absolute;
    bottom: 0px;
    height: 2px;
    width: 100%;
}

.input-data .wrapper .underline:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: var(--primary);
    transform: scaleX(0);
    transition: all 300ms ease;
}

.input-data .wrapper input:focus ~ .underline:before,
.input-data .wrapper input:valid ~ .underline:before {
    transform: scaleX(1);
}

.ckeditor input[type="file"] {
    display: none;
}

.ckeditor input[type="file"] ~ label {
    color: var(--white);
    height: 60px;
    width: 250px;
    background-color: var(--primary);
    cursor: pointer;
    font-size: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: montserrat, sans-serif;
    margin-bottom: 30px;
}

/* CROPPER EDITOR DE IMAGEM*/
.cropper-editor {
    pointer-events: none;
    visibility: hidden;
    z-index: -999;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80vh;
    max-width: 1100px;
    max-height: 600px;
    min-height: 300px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
    padding: 30px;
    overflow-y: scroll;
}

.cropper-editor.active {
    z-index: 999;
    pointer-events: initial;
    visibility: visible;
}

.cropper-editor .image-cropper-wrapper {
    width: 100%;
    display: flex;
    align-items: flex-start;
}

.cropper-editor .image-cropper {
    display: inline-block;
    position: relative;
    width: calc(100% - 180px);
    max-height: 600px;
    min-height: 200px;
}

.cropper-editor .btn-wrapper {
    width: 180px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    margin-top: 10px;
}

.cropper-editor button {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 1.1rem;
    background-color: #1e90ff;
    width: 160px;
    padding: 20px;
    text-align: center;
    outline: none;
    border: none;
    text-transform: uppercase;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
    margin: 0 10px 10px 0;
}

.cropper-editor button:hover, .cropper-editor button:focus, .cropper-editor button:active {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.cropper-editor .image-cropper img {
    display: block;
    width: 100%;
}

.cropper-editor .preview-container {
    width: 800px;
}

.cropper-editor .img-preview {
    display: inline-block;
    width: 360px;
    height: 200px;
    background-color: #f7f7f7;
    overflow: hidden;
}

.cropper-editor h1 {
    color: #8190a2;
    margin: 20px 0 6px;
}

.cropper-editor .title-example {
    float: right;
    width: 440px;
    height: 200px;
    padding: 20px;
}

.cropper-editor .title-example span {
    display: block;
    width: 100%;
    height: 25px;
    margin-bottom: 20px;
    background: #c1c1c1;
    border-radius: 8px;
}

.cropper-editor .title-example span:nth-child(1) {
    width: 100%;
}

.cropper-editor .title-example span:nth-child(2) {
    width: 80%;
}

.cropper-editor .title-example span:nth-child(3) {
    width: 60%;
}

.cropper-editor .title-example span:nth-child(4) {
    width: 40%;
}

@media screen and (max-width: 800px) {
    .cropper-editor .image-cropper-wrapper {
        flex-direction: column;
    }

    .cropper-editor .image-cropper {
        width: 100%;
    }

    .cropper-editor .btn-wrapper {
        width: 160px;
        flex-direction: row;
    }
}

@media screen and (max-width: 600px) {
    .input-data {
        grid-template-columns: auto;
        grid-template-rows: auto auto;
    }
}