body {
    font-family: "Open Sans", sans-serif;
}

.ck.ck-editor * {
    list-style-type: revert;
    text-decoration: revert;
}

.ck.ck-editor ul, .ck.ck-editor ol, .ck.ck-editor li {
    margin: revert;
    padding: revert;
}

.ckeditor {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    border-radius: 5px;
    background-color: var(--white);
}

.ckeditor input[type="submit"] {
    width: 100%;
    margin-top: 20px;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    box-shadow: 0 2px 2px #888;
    background: var(--primary);
    color: var(--white);
}

.input-data {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 30px;
    row-gap: 30px;
    padding: 30px 0;
}

.input-data .wrapper {
    height: 40px;
    width: 100%;
    position: relative;
}

.input-data .wrapper input {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 17px;
    border-bottom: 2px solid silver;
}

.input-data .wrapper input:focus ~ label,
.input-data .wrapper input:valid ~ label {
    transform: translateY(-20px);
    font-size: 15px;
    color: var(--primary);
}

.input-data .wrapper label {
    position: absolute;
    bottom: 10px;
    left: 0;
    color: gray;
    pointer-events: none;
    transition: all 300ms ease;
}

.input-data .wrapper .underline {
    position: absolute;
    bottom: 0px;
    height: 2px;
    width: 100%;
}

.input-data .wrapper .underline:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: var(--primary);
    transform: scaleX(0);
    transition: all 300ms ease;
}

.input-data .wrapper input:focus ~ .underline:before,
.input-data .wrapper input:valid ~ .underline:before {
    transform: scaleX(1);
}

@media screen and (max-width: 600px) {
    .input-data {
        grid-template-columns: auto;
        grid-template-rows: auto auto;
    }
}